{% extends "base_generic.html" %}
{% block title %}<a class="navbar-brand" href="#pablo">HOME</a>{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
      <div class="card strpied-tabled-with-hover">
          <div class="card-header ">
              <h4 class="card-title">公布欄</h4>
          </div>
          <div class="card-body table-full-width table-responsive">
              <table class="table table-hover table-striped">
                <tbody>
                  <tr><td>1.測試版，可隨便測試</td></tr>
                  <tr><td>2.目前只有客戶清單、專案清單、週報系統(有主管簽核)，之後可加入媒體清單、演算法清單、文件編號清單等等</td></tr>
                  <tr><td>3.檔案還是存在Google Drive，但在清單內容要填上路徑方便找檔案，目前在專案部份分技術和業務兩類</td></tr>
                </tbody>
              </table>
          </div>
      </div>
    </div>
</div>
{% endblock %}
